<div class="p-3 mb-2 bg-info text-dark">
    <p class="fw-bold">
    <p class="fw-bolder">
    <p class="fs-3">AWESOME TODO APP
</div>



<div class="container">
    <div class="row">
		<div class="col-12 col-md-12 text-center">
			<h1> Get a clear view of the day ahead</h1>
	</div>  
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 text-center">
    <p class="row gx-5">
    <p class="col-4">
    <p class="fst-italic">
        All your tasks that are due today will show up here</p>
</div>

<div class="position-absolute top-50 start-50 translate-middle">
<div class="d-grid gap-2 col-6 mx-auto">
    <button routerLink="AddTask"class="btn btn-primary"
        type="button">Add Task</button>
   
        <button routerLink="tasklist" class="btn btn-primary"
         type="button">Task List</button>
         <div class="d-grid gap-2">
         </div>
         <div class="container">
            <div class="row align-items-start">
              <div class="col">
               <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_cBZz2FDgaQSy-2CS1MCxEibBfrRvLsgyEQ&usqp=CAU"  width="300" height="400" class="img-fluid">
              </div>
              <div class="col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3fea8AMP1n9t1IoXZfrY0X1QS05sL4p8cZw&usqp=CAU"  width="300" height="400" class="img-fluid">

              </div>
              <div class="col">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSscYyAMvQFid7iOeT6aHBNFm9U65Pra3XWAw&usqp=CAU"  width="300" height="400" class="img-fluid">
              </div>
            </div>
          
        

 


        <router-outlet></router-outlet>


     