<div class="p-3 mb-2 bg-info text-dark">
    <p class="fw-bold">
    <p class="fw-bolder">
    <p class="fs-3">AWESOME TODO APP
</div>



<div class="row justify-content-center">

    <p class="col-4">
    <p class="fw-bolder">
        Get a clear view of the day ahead</p>
</div>
<div class="row justify-content-center">
    <p class="row gx-5">
    <p class="col-4">
    <p class="fst-italic">
        All your tasks that are due today will show up here</p>
</div>
<div class="position-absolute top-50 start-50 translate-middle"> <button routerLink="AddTask" class="btn btn-primary"
        type="button">Add Task</button>
    <div class="d-grid gap-2">
        <button routerLink="tasklist" class="btn btn-primary" type="button">Task List</button>
        <router-outlet></router-outlet>
        