<div class="p-3 mb-2 bg-info text-dark">
    <p class="fw-bold">
    <p class="fw-bolder">
    <p class="fs-3">AWESOME TODO APP
</div>



<div class="container">
    <div class="row">
		<div class="col-12 col-md-12 text-center">
			<h1> Get a clear view of the day ahead</h1>
	</div>  
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 text-center">
    <p class="row gx-5">
    <p class="col-4">
    <p class="fst-italic">
        All your tasks that are due today will show up here</p>
</div>

<div class="position-absolute top-50 start-50 translate-middle">
<div class="d-grid gap-2 col-6 mx-auto">
    <button routerLink="AddTask"class="btn btn-primary"
        type="button">Add Task</button>
   
        <button routerLink="tasklist" class="btn btn-primary"
         type="button">Task List</button>
         <div class="d-grid gap-2">
         </div>
        <router-outlet></router-outlet>


     